[loggers]
keys=root,main_logger,opportunity_logger

[handlers]
keys=console,file,op_file

[formatters]
keys=reg_format

[logger_root]
level=DEBUG
handlers=console

[logger_main_logger]
level=DEBUG
handlers=file
qualname=main_logger

[logger_opportunity_logger]
level=INFO
handlers=op_file
qualname=opportunity_logger

[handler_console]
class=StreamHandler
level=DEBUG
formatter=reg_format
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=DEBUG
formatter=reg_format
args=('logs/triangular.log','w+',)

[handler_op_file]
class=FileHandler
level=INFO
formatter=reg_format
args=('logs/opportunities.log',)

[formatter_reg_format]
format=%(asctime)s %(levelname)-8s %(message)s